/* @override 
	http://itaps.loc/assets/css/taplist-modern.css */

/* CSS Document */

html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background-color: #333;
	background-size: cover;
	overflow: hidden;
	color: #333;
	font-size: 1em;
	font-family: 'Montserrat', sans-serif; 

}

h1, h2, h3, h4, ul, li, div, form, p {
	margin: 0;
	padding: 0;
}

hr {
	border: 0;
	height: 1px;
	-webkit-margin-before: 2px;
	-webkit-margin-after: 2px;
	background-image: -webkit-linear-gradient(left, rgba(255,255,255,255), rgba(255,255,255,0.75), rgba(255,255,255,255));
	background-image: -moz-linear-gradient(left, rgba(255,255,255,255), rgba(255,255,255,0.75), rgba(255,255,255,255));
	background-image: -ms-linear-gradient(left, rgba(255,255,255,255), rgba(255,255,255,0.75), rgba(255,255,255,255));
	background-image: -o-linear-gradient(left, rgba(255,255,255,255), rgba(255,255,255,0.75), rgba(255,255,255,255));
	padding-right: 5px;
}

.no-show {
	display: none !important;
}

.wrap {
	padding: 0 5px;
	align-items: stretch;
	align-content: stretch;
}

.top {
	color: #fff;
	justify-content: center;
	height: 7em;
}

.headings {
	color: #fff;
}

.top-ident {
	border-bottom: 1px solid #fff;
}

.now-serving {
	font-size: 3rem;
	text-align: center;
}

div.row.beer-info {
	align-items: stretch;
}

div.tap-num {
	display: flex;
//	border-right: 1px dotted #fff;
	text-align: center;
	align-self: center;
	justify-content: center;
}

div.og-color {
	display: flex;
	flex-direction: column;
	border-right: 1px dotted #fff;
	border-left: 1px dotted #fff;
	text-align: center;
	align-self: stretch;
	justify-content: center;
	text-align: center;
}

div.ibu {
	display: flex;
	flex-direction: column;
//	border-right: 1px dotted #fff;
	text-align: center;
	align-self: center;
	justify-content: flex-end;
}

div.name {
	display: flex;
	flex-direction: column;
	border-right: 1px dotted #fff;
	border-left: 1px dotted #fff;
	text-align: center;
	align-self: stretch;
	justify-content: center;
}

div.abv {
	display: flex;
	flex-direction: column;
	border-right: 1px dotted #fff;
	text-align: center;
	align-self: stretch;
	justify-content: center;
}

h3 {
	padding: .5em 0;
	text-align: center;
	line-height: 1rem;
	font-size: 1rem;
	font-weight: 400;
}

span.tapcircle {
	min-width: 2rem;
	line-height: 2rem;
	font-size: 1.25rem;
	font-weight: 500;
	text-a
	lign: center;
	background-color: gray;
	color: #e6e3e3;
	align-self: center;
//	font-family: 'Cabin', sans-serif;
}

h1.beer-name {
	background-color: #333;
	color: #fff;
	padding: .25em .25em;
	margin-top: .25em;
	font-size: 1.75rem;
	font-weight: 600;
}

h2.beer-style {
	text-align: left;
	padding: .25em .25em;
	font-size: 1.25rem;
	font-weight: 400;
//	background-color: rgb(255, 255, 255);
}

p.tasting-notes {
	text-align: left;
	font-size: 1rem;
	font-weight: 300;
	padding: .25em .25em;
}

div.beer-info.row:nth-child(even) {
	background: rgb(228, 228, 228) !important;
}

div.beer-info.row:nth-child(odd) {
	background: rgb(203, 202, 202) !important;
}

/* @group img containers */

.srm-container {
	display: flex;
	align-items: center;
	justify-content:center ;
	height: 5rem;
	width: 5rem;
	margin: 0 auto;
	color: #fff;
	background-color: #7cc878;
}

.ibu-container {
	position: relative;
	height: 5rem;
	width: 2rem;
	margin: 0 auto;
//	border: 1px solid #333;
}

.ibu-indicator {
//	position: absolute;
//	bottom: 0;
//	left: 0;
	height: 100%;
	width: 100%;
	background-color: #fff;
}

.ibu-indicator .ibu-full {
	position: absolute;
	background-color: #3ebc3e;
	bottom: 0;
	left: 0;
	width: 100%;
}

.ibu-max {
	position: absolute;
	top: -5px;
	left: 35px;
}

.abv-container {
	position: relative;
	height: 4rem;
	width: 2rem;
	margin: 0 auto;
	//	border: 1px solid #333;
	background-color: #fff;
}

.abv-indicator .abv-full {
	position: absolute;
	background-color: #efc115;
	bottom: 0;
	left: 0;
	width: 100%;
}

/* @end */